<footer class="site-footer">
  <div class="wrapper footer-grid">
    <p>Folklore Software LLC</p>
    <div>
      <a href="/services/">Services</a>
      <a href="https://rlziii.com">Richard L Zarth III</a>
      <a href="mailto:contact@folkloresoftware.com">Contact</a>
    </div>
  </div>
</footer>
<!-- Cloudflare Web Analytics --><script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "5797b7818a7449798c224956667b53e9"}'></script><!-- End Cloudflare Web Analytics -->
